<!-- <div class="parent-container" fxLayout="row" fxLayoutAlign="center center">

  <div fxLayout="row" fxFlex.lt-xs="80" fxFlex.gt-xs="50" fxLayoutAlign="strech">
    <mat-card fxFlex="100" fxLayout="column" fxLayoutAlign="none strech">

      <mat-card-header>
        Add Students
      </mat-card-header>

      <mat-card-content fxLayout="column" fxLayoutAlign="none strech">

        <form #frm="ngForm" fxLayout="column" (ngSubmit)=addStudent(frm)></form>

        <mat-form-field class="example-full-width">
          <input matInput #stdIndex="ngModel" name="studentId" [(ngModel)]="student.studentRegistrationNumber"placeholder="Student Registration Number"
           required>

          <mat-error *ngIf="stdIndex.errors?.required"><strong>Student Registratioin Number</strong>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>
</div> -->