<div fxLayout="row" fxLayoutAlign="center">

    <mat-card fxLayout="column" xFlex.lt-sm="80" fxFlex.gt-sm="50" class="search-bar">
        <mat-card-header>
            <h2 class="header-search-bar"> <strong> USER PROFILE </strong> </h2>

        </mat-card-header>


    </mat-card>



</div>
<div class="parent-container" fxLayout="row" fxLayoutAlign="center">



    <mat-card fxFlex.lt-sm="80" fxFlex.gt-sm="50">


        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <mat-chip-list>

                        <!-- <mat-chip color="primary" disabled >Primary fish</mat-chip>
                                <mat-chip color="accent">Accent fish</mat-chip> -->
                    </mat-chip-list>
                </mat-list-item>
                <mat-list-item>

                    <mat-chip-list>
                        <mat-chip color="primary" disabled><strong>First Name</strong></mat-chip>
                    </mat-chip-list>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{user.firstName}}
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <mat-chip-list>

                        <mat-chip color="primary" disabled><strong>Last Name</strong></mat-chip>

                    </mat-chip-list>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{user.lastName}}
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <mat-chip-list>

                        <mat-chip color="primary" disabled><strong> Date of birth</strong></mat-chip>

                    </mat-chip-list>
                    &nbsp;&nbsp;&nbsp;&nbsp; {{user.dateOfBirth|date}}
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>

                    <mat-chip-list>

                        <mat-chip color="primary" disabled><strong> Role</strong></mat-chip>

                    </mat-chip-list>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    {{user.role}}
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>

                    <mat-chip-list>

                        <mat-chip color="primary" disabled><strong> Gender </strong></mat-chip>

                    </mat-chip-list>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{user.gender}}
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>

                    <mat-chip-list>

                        <mat-chip color="primary" disabled><strong> Email </strong></mat-chip>

                    </mat-chip-list>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{user.email}}
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>

                    <mat-chip-list>

                        <mat-chip color="primary" disabled><strong> NIC </strong></mat-chip>

                    </mat-chip-list>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{user.nic}}
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <mat-chip-list>

                        <mat-chip color="primary" disabled><strong> &nbsp; Contact No </strong></mat-chip>

                    </mat-chip-list>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{user.telePhoneNumber}}
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>

                    <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px" fxFlex="100">

                            <div>
                                    <button mat-raised-button color="warn" (click)="resetPassword()">Reset Password</button>
                                </div>
                            <div>
                                    <button mat-raised-button color="basic" (click)=editOpenDialog()>Edit</button>
                                </div>
                        <div>
                            <button mat-raised-button color="warn" (click)=openDialog()>Delete</button>
                        </div>

                        
                    </div>

                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>
<!-- {{user|json}}
{{user.firstName}} -->