<div class="parent-container" fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex.lt-sm="80" fxFlex.gt-sm="50">
    <mat-card-header>
      Profile
    </mat-card-header>

    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-chip-list>
            <mat-chip color="primary" disabled><strong>Student Registration Number</strong></mat-chip>
          </mat-chip-list>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{student.studentRegistrationNumber}}
        </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item>
          <mat-chip-list>
            <mat-chip color="primary" disabled><strong>Student Name</strong></mat-chip>
          </mat-chip-list>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{student.studentName}}

        </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item>
          <mat-chip-list>
            <mat-chip color="primary" disabled><strong>Student DOB</strong></mat-chip>
          </mat-chip-list>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{student.studentDOB}}

        </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item>
          <mat-chip-list>
            <mat-chip color="primary" disabled><strong>Student Age</strong></mat-chip>
          </mat-chip-list>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{student.studentAge}}

        </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item>
          <mat-chip-list>
            <mat-chip color="primary" disabled><strong>Student Gender</strong></mat-chip>
          </mat-chip-list>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{student.gender}}

        </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item>
          <mat-chip-list>
            <mat-chip color="primary" disabled><strong>Student Faculty</strong></mat-chip>
          </mat-chip-list>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{student.studentFaculty}}

        </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item>
          <mat-chip-list>
            <mat-chip color="primary" disabled><strong>Student Marrital Status</strong></mat-chip>
          </mat-chip-list>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{student.marritalStatus}}

        </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item>
          <mat-chip-list>
            <mat-chip color="primary" disabled><strong>Student Nationality</strong></mat-chip>
          </mat-chip-list>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{student.studentNationality}}

        </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item>
          <mat-chip-list>
            <mat-chip color="primary" disabled><strong>Position of the family of the student</strong></mat-chip>
          </mat-chip-list>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{student.studentPositionOfFamily}}

        </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item>
          <mat-chip-list>
            <mat-chip color="primary" disabled><strong>Student Address</strong></mat-chip>
          </mat-chip-list>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{student.studentAddress}}

        </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item>
          <mat-chip-list>
            <mat-chip color="primary" disabled><strong>Address of the term of the student</strong></mat-chip>
          </mat-chip-list>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{student.studentTermAddress}}

        </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item>
          <mat-chip-list>
            <mat-chip color="primary" disabled><strong>Name of the Parent or Guardian of the student</strong></mat-chip>
          </mat-chip-list>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{student.studentParentGuardian}}

        </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item>
          <mat-chip-list>
            <mat-chip color="primary" disabled><strong>Student staying at Boarding or Relative</strong></mat-chip>
          </mat-chip-list>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{student.studentBoardingRelative}}

        </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item>
          <mat-chip-list>
            <mat-chip color="primary" disabled><strong>Amount paid to the Student</strong></mat-chip>
          </mat-chip-list>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{student.studentAmountPaid}}

        </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item>
          <mat-chip-list>
            <mat-chip color="primary" disabled><strong>Occupation of the Father</strong></mat-chip>
          </mat-chip-list>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{student.studentOccupationFather}}

        </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item>
          <mat-chip-list>
            <mat-chip color="primary" disabled><strong>Occupation of the Mother</strong></mat-chip>
          </mat-chip-list>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{student.studentOccupationMother}}

        </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item>
          <mat-chip-list>
            <mat-chip color="primary" disabled><strong>Bursary of the Student</strong></mat-chip>
          </mat-chip-list>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{student.studentBursary}}

        </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item>
          <mat-chip-list>
            <mat-chip color="primary" disabled><strong>Student School</strong></mat-chip>
          </mat-chip-list>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{student.studentSchool}}

        </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item>
          <mat-chip-list>
            <mat-chip color="primary" disabled><strong>Games played</strong></mat-chip>
          </mat-chip-list>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{student.gamesPlayed}}

        </mat-list-item>
      </mat-list>



      <mat-list>

        <mat-list-item>
          <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px" fxFlex="100">

            <!-- <div>
                  <button mat-raised-button color="warn" (click)="resetPassword()">Reset Password</button>
                </div> -->
            <div>
              <button mat-raised-button color="basic" (click)=editOpenDialog()>Edit</button>
            </div>
            <div>
              <button mat-raised-button color="warn" (click)=openDialog()>Delete</button>
            </div>

          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>



</div>