<div class="parent-container" fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex.lt-sm="80" fxFlex.gt-sm="50">
    <mat-card-header>
      Profile
    </mat-card-header>

    <mat-card-content>
      <mat-list>
        <mat-list-item>
          Student Index Number{{student.studentIndexNumber}}
        </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item>
          Student Name{{student.studentName}}
        </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item>
          Student Name{{student.studentDOB}}
        </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item>
          Student Name{{student.studentAge}}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>