<div class="parent-container" fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex.lt-sm="80" fxFlex.gt-sm="50">
    <mat-card-header>
      Profile
    </mat-card-header>

    <mat-card-content>
      <mat-list>
        <mat-list-item>
          Student Registration Number{{student.studentRegistrationNumber}}
        </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item>
          Student Name{{student.studentName}}
        </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item>
          Student Name{{student.studentDOB}}
        </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item>
          Student Name{{student.studentAge}}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px" fxFlex="100">

    <!-- <div>
      <button mat-raised-button color="warn" (click)="resetPassword()">Reset Password</button>
    </div> -->
    <div>
      <button mat-raised-button color="basic" (click)=editOpenDialog()>Edit</button>
    </div>
    <div>
      <button mat-raised-button color="warn" (click)=openDialog()>Delete</button>
    </div>

  </div>

</div>