
.parent-container{
    height:100vh;

}

.login-card{
    height: 500px;
    border-radius: 10px;
}

.login-card-header{
    margin-bottom:150px; 
}

.input-form-filed{
    margin-bottom: 15px;
}

.error-pallet{
height: 80px;
text-align:center;
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-wrapper {
   width:100%;
}

