
.parent-container{
    height:100vh;

}

.login-card{
    height: 500px;
}

.login-card-header{
    margin-bottom:70px; 
}

.input-form-filed{
    margin-bottom: 15px;
}

.error-pallet{
height: 80px;
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-wrapper {
   width:100%;
}

