<div class="container">
  <div class="row">
    <div class="col-4 col-sm-4 col-md-4 col-lg-4">
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 login-card">

      <mat-card class="col-12 col-sm-12 col-md-12 col-lg-12 custom-mat-card">
        <mat-card-header>
          <h4>Login</h4>
        </mat-card-header>
        <mat-card-content class="col-12 col-sm-12 col-md-12 col-lg-12  login-component">
          <form #f="ngForm" class="col-12 col-sm-12 col-md-12 col-lg-12 login-component ">
            <mat-form-field class="col-12 col-sm-12 col-md-12 col-lg-12  login-component">
              <input matInput type="text" placeholder="Enter User Name" name="username" [(ngModel)]="username" class="col-12 col-sm-12 col-md-12 col-lg-12 login-component " required>
            </mat-form-field>
            <mat-form-field class="example-full-width" class="col-12 col-sm-12 col-md-12 col-lg-12  login-component">
              <input matInput type="password" placeholder="Enter Your Password" name="password" name="password" [(ngModel)]="password" class="col-12 col-sm-12 col-md-12 col-lg-12  login-component"
                required>
            </mat-form-field>
            <div>
              <button type="submit" mat-raised-button color="primary">Login</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
      <div class="col-4 col-sm-4 col-md-4 col-lg-4">
      </div>
    </div>
  </div>
</div>
