<div class="parent-container" fxLayout="row" fxLayoutAlign="center center">


  <div fxLayout="row" fxFlex.lt-xs="80" fxFlex.gt-xs="100" fxLayoutAlign="strech">
    <div fxFlex="100" fxLayout="column" fxLayoutAlign="none strech">
      <div>
        Edit user
      </div>

      <div fxLayout="column" fxLayoutAlign="none strech">

        <form #frm="ngForm" fxLayout="column">


          <mat-form-field class="example-full-width">
            <input matInput #fName="ngModel" name="firstName" [(ngModel)]="data.firstName" placeholder="First Name" required>
            <mat-error *ngIf="fName.errors?.required">
              <strong>first name required</strong>
            </mat-error>
          </mat-form-field>


          <mat-form-field class="example-full-width">
            <input matInput #lName="ngModel" placeholder="Last Name" name="lastName" [(ngModel)]="data.lastName" required>
            <mat-error *ngIf="lName.errors?.required">
              <strong>last name required</strong>
            </mat-error>
          </mat-form-field>


          <mat-form-field class="example-full-width">
            <input matInput #email="ngModel" placeholder="email" name="email" [(ngModel)]="data.email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            <mat-error *ngIf="email.errors?.required">
              <strong>email name required</strong>
            </mat-error>
            <mat-error *ngIf="email.errors?.pattern">
              <strong>Enter a valid email</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>

            <mat-select #gender="ngModel" [(value)]="gender.selected" [(ngModel)]="data.gender" placeholder="Gender"
              name="gender" required>
              <mat-option value="MALE">MALE </mat-option>
              <mat-option value="FEMALE">FEMALE </mat-option>

            </mat-select>
            <mat-error *ngIf="gender.errors?.required">
              <strong> gender is required</strong>
            </mat-error>
          </mat-form-field>



          <mat-form-field>
            <mat-select #role="ngModel" [(ngModel)]="data.role" name="role" placeholder="Role" required>
              <mat-option value="ADMIN">ADMIN</mat-option>
              <mat-option value=DOCTOR>DOCTOR </mat-option>
              <mat-option value=NURSE>NURSE </mat-option>
            </mat-select>
            <mat-error *ngIf="role.errors?.required">
              <strong> role is required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput #dob="ngModel" [matDatepicker]="picker" placeholder="Date of birth" name="dateOfBirth" [(ngModel)]=data.dateOfBirth
              required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="dob.errors?.required">
              <strong> date of birth is required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input #tele="ngModel" type="tel" matInput placeholder="Telephone" name="telePhoneNumber" [(ngModel)]="data.telePhoneNumber"
              required minlength="10" maxlength="10" pattern="^0[0-9].*$">

            <mat-error *ngIf="tele.errors?.required">
              <strong> telephone number required</strong>
            </mat-error>


            <mat-error *ngIf="tele.errors?.minlength||tele.errors?.pattern">
              <strong>Not a valid telephone number</strong>
            </mat-error>

            <mat-error *ngIf="tele.errors?.maxlength||tele.errors?.pattern">
              <strong>Not a valid telephone number</strong>
            </mat-error>

          </mat-form-field>

          <mat-form-field>
            <input #nic="ngModel" type=text matInput placeholder="NIC Number" name="nic" [(ngModel)]="data.nic" required pattern="^(\d{10}|\v{12})$">

            <mat-error *ngIf="nic.errors?.required">
              <strong> NIC number required</strong>
            </mat-error>

            <mat-error *ngIf="nic.errors?.pattern">
              <strong> NIC number </strong>
            </mat-error>

          </mat-form-field>

          <div fxLayout="row" class="add-button" fxLayoutGap="20px">


            <button mat-raised-button color="warn" (click)="editUser(frm,data)">Save</button>
            <button mat-raised-button (click)="closeDialog()">Cancel</button>
          </div>


        </form>
      </div>
    </div>

  </div>


  