<div class="parent-container">

    <mat-sidenav-container  class="side-nav-container">
      <mat-sidenav  #sidenav mode="side" opened>
        <div>
          <div>
           <a routerLink="/admin/users/home"> <button mat-raised-button color="primary" class="side-nav-button">Users</button></a>
          </div>
          <div>
              <a routerLink="/admin/users/adduser"><button mat-raised-button color="primary" class="side-nav-button">Add User</button></a>
          </div>
        </div>
      </mat-sidenav>
      <mat-sidenav-content  class="main-content"><button mat-icon-button (click)="sidenav.toggle()" color="warn" class="material-icons"><mat-icon
            aria-label="Example icon-button with a heart icon">list</mat-icon></button>
  
        <div>
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
  
  
  
    </mat-sidenav-container>
  
  </div>