<div fxLayout=row>

  <div fxLayout=row>
    <div class="example-full-width">

      <mat-form-field>
        <input matInput placeholder="Registration Number">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)=searchStudent()>Search</button>

    </div>

  </div>
</div>
<div fxLayout=row fxLayoutAlign="center">
  <ag-grid-angular fxFlex="100" style="height: 50vh;" class="ag-theme-balham" [rowData]="rowData" [columnDefs]="columnDefs"
    [enableSorting]="true" [enableFilter]="true" rowSelection="single" [animateRows]="true" (selectionChanged)="onRowSelectedChange($event)"
    (gridReady)="onGridReady($event)">

  </ag-grid-angular>
</div>
<div *ngIf="rowSelected">
  <button class="view-details-button" mat-raised-button color="primary" (click)="goToPath()">View Details</button>
</div>