<div fxLayout=row>

  <div fxLayout=row>
    <div class="example-full-width">

      <mat-form-field>
        <input matInput placeholder="Registration Number">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)=searchStudent()>Search</button>

    </div>

  </div>
</div>

<mat-form-field class="example-full-width">
  <input #fil1 matInput placeholder="nic" (keyup)="selectByStudentID($event)" name="student registration number">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input #fil2 matInput (keyup)="selectByStudentName($event)" placeholder="student name">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input #fil3 matInput placeholder="Faculty" (keyup)="selectByFaculty($event)">
</mat-form-field>

<button mat-stroked-button (click)="clearFilters(fil1,fil2,fil3,fil0)">Clear Filters</button>


<div fxLayout=row fxLayoutAlign="center">
  <ag-grid-angular fxFlex="100" style="height: 50vh;" class="ag-theme-balham" [rowData]="rowData" [columnDefs]="columnDefs"
    [enableSorting]="true" [enableFilter]="true" rowSelection="single" [animateRows]="true" (selectionChanged)="onRowSelectedChange($event)"
    (gridReady)="onGridReady($event)">

  </ag-grid-angular>
</div>
<div *ngIf="rowSelected">
  <button class="view-details-button" mat-raised-button color="primary" (click)="goToPath()">View Details</button>
</div>