
<div class="parent-container" fxLayout="row" fxLayoutAlign="center">

  <div fxLayout="row" fxFlex="80" fxLayoutAlign="strech">
    <mat-card fxFlex="100" fxLayout="column" fxLayoutAlign="none strech">
      <mat-card-header>
        Add user
      </mat-card-header>

      <mat-card-content fxLayout="column" fxLayoutAlign="none strech">
        <form #frm="ngForm" fxLayout="column" (ngSubmit)=addUser(frm)>

            <mat-form-field class="example-full-width">
                <input matInput #usName="ngModel" name="usernName" [(ngModel)]="user.username" placeholder="user Name">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                  <input matInput #pass="ngModel" name="password" [(ngModel)]="user.password" placeholder="password">
                </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput #fName="ngModel" name="firstName" [(ngModel)]="user.firstName" placeholder="First Name">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput #lName="ngModel" placeholder="Last Name" name="lastName" [(ngModel)]="user.lastName">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput #emaiil="ngModel" placeholder="email" name="email" [(ngModel)]="user.email">
          </mat-form-field>

          <mat-form-field>
            <mat-select  #role="ngModel" [(value)]="role.selected" [(ngModel)]="user.role" placeholder="Role" name="role">
              <mat-option value="Doctor">Doctor </mat-option>
              <mat-option value="Nurse">Nurse </mat-option>
              <mat-option value="Inventory Contoller">Inventory controler </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select #gender="ngModel" [(value)]="gender.selected" [(ngModel)]="user.gender" placeholder="Gender" name="gender">
              <mat-option value="Male">Male </mat-option>
              <mat-option value="Female">Female </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput #dob="ngModel" [matDatepicker]="picker" placeholder="Date of birth" name="dateOfBirth" [(ngModel)]=user.dateOfBirth >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
          <span matPrefix>+94 &nbsp;</span>
          <input #tele="ngModel" type="tel" matInput placeholder="Telephone" name="telPhoneNumber" [(ngModel)]="user.telPhoneNumber">
          <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>

          <div fxLayout="row">
            <button mat-raised-button color="primary" fxFlex="40">Add User</button>
          </div>


        </form>
      </mat-card-content>
    </mat-card>

  </div>


  {{frm.value|json}}