<mat-toolbar color="primary" class="cus-nav-bar">
  <div fxHide.xs="false" fxHide.gt-xs="true">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="menu">

      <div>
        <a [routerLink]="['/drugs/home']"><button mat-button>Home</button></a>
      </div>

      <div>
        <a [routerLink]="['/drugs/register']"><button mat-button>Register</button></a>
      </div>

    </mat-menu>
  </div>



  <div fxHide.xs="true">
    <a [routerLink]="['/drugs/home']"><button mat-button> Home</button></a>
    <a [routerLink]="['/drugs/register']"><button mat-button> Register</button></a>
    <button mat-button>Patients</button>
  </div>

</mat-toolbar>


