<div class="parent-container" fxLayout="row" fxLayoutAlign="center center">

  <div fxLayout="row" fxFlex.lt-xs="80" fxFlex.gt-xs="50" fxLayoutAlign="strech">
    <div fxFlex="column" fxflex="100" fxLayoutAlign="None strech">

      <div>
        <h3>Manage Students</h3>
      </div>

      <div class="container" fxLayout="column" fxLayoutAlign="none strech">

        <form #frm="ngForm" fxLayout="column">

          <mat-form-field class="example-full-width">
            <input matInput #stdIndex="ngModel" name="studentId" [(ngModel)]="student.studentIndexNumber" placeholder="Student Index Number"
              required>

            <mat-error *ngIf="stdIndex.errors?.required"><strong>Student Index Number is required.</strong></mat-error>
          </mat-form-field>


          <mat-form-field class="example-full-width">
            <input matInput #stdName="ngModel" name="studentName" [(ngModel)]="student.studentName" placeholder="Student Name" required>

            <mat-error *ngIf="stdName.errors?.required"><strong>Student Name is required.</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput #stdDOB="ngModel" name="studentDOB" [(ngModel)]="student.studentDOB" placeholder="Student DOB" required>

            <mat-error *ngIf="stdDOB.errors?.required"><strong>Date of Birth is required.</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput #stdAge="ngModel" name="studentAge" [(ngModel)]="student.studentAge" placeholder="Student Age" required>

            <mat-error *ngIf="stdAge.errors?.required"><strong>Student age is required.</strong>
            </mat-error>
          </mat-form-field>

          <div fxLayout="row" class="edit-button" fxLayoutGap="20px">

            <button mat-raised-button color="primary" (click)="editUser(frm,data)">Save</button>
            <button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>