.name{
    background-color: red;
}

.parent-container{
    height: 80vh;
    overflow:scroll;
}

.search-bar{

    background-color: #3f51b5;
}
.header-search-bar{
    color: white;
}

.view-details-button{
    background-color: #8fbc8f;
}